@model PlantMaintenanceCore.Models.ViewModels.BreakdownTypeViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "BreakdownType", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.BreakdownTypeName)
        @Html.TextBoxFor(x => x.BreakdownTypeName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BreakdownTypeName)
        <br />
        @Html.LabelFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)
        <br />
    </div>

    <div class="custom-radio" style="margin-top: 25px; margin-bottom: 15px">
        <label>
            @Html.RadioButtonFor(m => m.IsActive, true, new { @checked = "checked" }) Active
        </label>
        <label>
            @Html.RadioButtonFor(m => m.IsActive, false) Passive
        </label>
    </div>
    <button type="submit" class="btn btn-info">Save</button>
}