@model PlantMaintenanceCore.Models.ViewModels.UrgencyViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Urgency", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.UrgencyLevel,"Urgency Level Name")
        @Html.TextBoxFor(x => x.UrgencyLevel, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UrgencyLevel)
        <br />
        @Html.LabelFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)
    </div>
    <div class="custom-radio" style="margin-top: 25px;margin-bottom: 15px">
        <label>
            @Html.RadioButtonFor(m => m.IsActive, true,new {@checked="checked"}) Active
        </label>
        <label>
            @Html.RadioButtonFor(m => m.IsActive, false) Passive
        </label>
    </div>
    <button type="submit" class="btn btn-info">Save</button>
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}